$light-gray: #F6F6F7;
$medium-gray: #DDE3E8;
$dark-gray: #888888;
$dark-blue:  #2a375c;
$light-blue: #89D5D5 ;
$orange: #c137a2;

.camera {
  &:hover {
    .on-ready-buttons {
      opacity: 1;
    }
  }
}
.camera {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera-wrapper {
  position: relative;
  width: 100%;
  #preview {
    position: relative;
    border-radius: 5px;
  }

  #photo {
    position: relative;
    border-radius: 5px;
  }
}
.counter {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0 auto;
  width: fit-content;
  .content {
    display: flex;
    align-items: center;
    color: #c137a2;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 10px;
    border-radius: 3px;
  }
  i {
    margin-right: .5rem;
  }
}
.buttons-wrapper {
  position: absolute;
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;

  i {
    margin: 0 .5rem;
    span {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }
  }
  .on-ready-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all 1s;
    top: calc(50% - 2rem - 20px);

    &.paused {
      opacity: 1;
    }

    &.smallPreview {
      top: calc(50% - 2rem - 8px);
    }

    &.capture-photo {
      top: calc(100% - 2rem) !important;
      grid-template-columns: 1fr 1fr;
      width: 30%;
      opacity: 1;
    }
  }
  .cancel-button {
    pointer-events: auto;
    position: absolute;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    top: 1rem;
    left: 1rem;
    .icon {
      position: absolute;
      top: 0;
      left: .75rem;
      transform: rotate(45deg);
      width: 1px;
      height: 1.5rem;
      background-color: black;
      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 1.5rem;
        top: .75rem;
        left: -.75rem;
        background-color: black;
      }
    }
  }
  .reset-button {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    color: white;
    background-color: #c137a2;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.9;

    &.capture-photo {
      opacity: 1;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
  }
  .upload-button {
    transition: all 0.5s;
    grid-column-start: 3;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    color: white;
    background-color: #c137a2;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.9;

    &.capture-photo {
      grid-column-start: 2;
      opacity: 1;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
  }
  .record-button {
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    color: white;
    background-color: #c137a2;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    pointer-events: auto;
  }
}
#camera-select {
  position: absolute;
  width: fit-content;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
