.create-credentials {
	&__font-size {
		.v-messages {
				font-size: smaller !important;
		}
		.v-label {
			font-size: large !important;
		}
		@media only screen and (max-width: 600px) {
			.v-messages {
				font-size: smaller !important;
			}
			.v-label {
				font-size: large !important;
			}
		}
	}
}
